<a href="https://colab.research.google.com/github/aadi0004/advanced-python/blob/main/Sklearn_traintest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#complete data ----->divide
#
#100 students -----> 70 students(in class) , 30 students(out class)
#70 students(train) ---->trained ---->30 students(test)

#df ---> x(input data)+y(target data)
#x ----> x_train + x_test
#y ----> y_train + y_test

#machine

In [2]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("C:\\Users\\asd\\Downloads\\placement.csv")

In [5]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [6]:
df.shape

(100, 3)

In [7]:
x=df.drop(columns=['placed'])  ## input data
x.shape

(100, 2)

In [8]:
y=df['placed']  ## target data
y.shape

(100,)

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [11]:
print("total df:",df.shape)
print("---------------")
print("Input data shape(x):",x.shape)
print("x_train data shape:",x_train.shape)
print("x_test data shape:",x_test.shape)
print("---------------")
print("Target data shape(y):",y.shape)
print("y_train data shape:",y_train.shape)
print("y_test data shape:",y_test.shape)

total df: (100, 3)
---------------
Input data shape(x): (100, 2)
x_train data shape: (80, 2)
x_test data shape: (20, 2)
---------------
Target data shape(y): (100,)
y_train data shape: (80,)
y_test data shape: (20,)

In [12]:
df=pd.read_csv("C:\\Users\\asd\\Downloads\\covid_toy.csv")

In [13]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [14]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [15]:
df=df.dropna()
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [16]:
x=df.drop(columns=['has_covid'])  ## input data
x

    age  gender  fever   cough       city
0    60    Male  103.0    Mild    Kolkata
1    27    Male  100.0    Mild      Delhi
2    42    Male  101.0    Mild      Delhi
3    31  Female   98.0    Mild    Kolkata
4    65  Female  101.0    Mild     Mumbai
..  ...     ...    ...     ...        ...
95   12  Female  104.0    Mild  Bangalore
96   51  Female  101.0  Strong    Kolkata
97   20  Female  101.0    Mild  Bangalore
98    5  Female   98.0  Strong     Mumbai
99   10  Female   98.0  Strong    Kolkata

[90 rows x 5 columns]

In [17]:
x.shape

(90, 5)

In [18]:
y=df['has_covid']  ## target data
y.shape

(90,)

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train , x_test , y_train , y_test= train_test_split(x,y,test_size=0.2, random_state=42)

In [21]:
print("total df:",df.shape)
print("---------------")
print("Input data shape(x):",x.shape)
print("x_train data shape:",x_train.shape)
print("x_test data shape:",x_test.shape)
print("---------------")
print("Target data shape(y):",y.shape)
print("y_train data shape:",y_train.shape)
print("y_test data shape:",y_test.shape)

total df: (90, 6)
---------------
Input data shape(x): (90, 5)
x_train data shape: (72, 5)
x_test data shape: (18, 5)
---------------
Target data shape(y): (90,)
y_train data shape: (72,)
y_test data shape: (18,)

In [24]:
df=pd.read_csv("C:\\Users\\asd\\Downloads\\titanic.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\asd\\Downloads\\titanic.csv'

In [ ]:
df.head()

In [ ]:
x=df.drop(columns=['Survived'])  ## input data
x.shape

In [ ]:
y=df['Survived']  ## target data
y.shape

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train , x_test , y_train , y_test= train_test_split(x,y,test_size=0.2, random_state=42)

In [ ]:
print("total df:",df.shape)
print("---------------")
print("Input data shape(x):",x.shape)
print("x_train data shape:",x_train.shape)
print("x_test data shape:",x_test.shape)
print("---------------")
print("Target data shape(y):",y.shape)
print("y_train data shape:",y_train.shape)
print("y_test data shape:",y_test.shape)

In [ ]:
df=pd.read_csv("/content/new_tips.csv")
df.head()

In [ ]:
x=df.drop(columns=['total_bill'])  ## input data
x.shape

In [ ]:
y=df['total_bill']  ## target data
y.shape

In [ ]:
x_train , x_test , y_train , y_test= train_test_split(x,y,test_size=0.2, random_state=42)

In [ ]:
print("total df:",df.shape)
print("---------------")
print("Input data shape(x):",x.shape)
print("x_train data shape:",x_train.shape)
print("x_test data shape:",x_test.shape)
print("---------------")
print("Target data shape(y):",y.shape)
print("y_train data shape:",y_train.shape)
print("y_test data shape:",y_test.shape)

In [ ]:
df=pd.read_csv("/content/Attrition.csv")
df.head()

In [ ]:
x=df.drop(columns=['Attrition'])  ## input data
x.shape

In [ ]:
y=df['Attrition']  ## target data
y.shape

In [ ]:
x_train , x_test , y_train , y_test= train_test_split(x,y,test_size=0.2, random_state=42)

In [ ]:
print("total df:",df.shape)
print("---------------")
print("Input data shape(x):",x.shape)
print("x_train data shape:",x_train.shape)
print("x_test data shape:",x_test.shape)
print("---------------")
print("Target data shape(y):",y.shape)
print("y_train data shape:",y_train.shape)
print("y_test data shape:",y_test.shape)

In [ ]:
# Q github per ek project ka ek superuser hoga (admin) baaki k logo ko admin excess dega complete this task
#github pe ek project ka superuser kese bnate hai

Day - 2

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:\\Users\\asd\\Downloads\\covid_toy.csv")

In [3]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [4]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [5]:
from sklearn.impute import SimpleImputer

In [6]:
si=SimpleImputer(strategy="mean")

In [7]:
df['fever']=si.fit_transform(df[['fever']])

In [8]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [9]:
df.shape

(100, 6)

In [10]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [11]:
df2=df.copy()

In [12]:
df2.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [13]:
df2['gender']=df2['gender'].map({'Male':1,'Female':0})

In [14]:
df2.sample(3)

    age  gender  fever   cough       city has_covid
90   59       0   99.0  Strong      Delhi        No
70   68       0  101.0  Strong      Delhi        No
6    14       1  101.0  Strong  Bangalore        No

In [15]:
df2['cough']=df2['cough'].map({"Mild":0,"Strong":1})

In [16]:
df2['city']=df2['city'].map({"Kolkata":0,"Bangalore":1,"Delhi":2,"Mumbai":3})

In [17]:
df2['has_covid']=df2['has_covid'].map({"No":0,"Yes":1})

In [18]:
df['city'].value_counts()

Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: city, dtype: int64

In [19]:
df2.head(3)

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     0          0
1   27       1  100.0      0     2          1
2   42       1  101.0      0     2          0

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
sc=StandardScaler()

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x= df2.drop(columns=['has_covid'])
y=df2['has_covid']

In [24]:
x_train , x_test , y_train , y_test= train_test_split(x,y,test_size=0.2, random_state=42)

In [25]:
x_train_sc=sc.fit_transform(x_train) ## fit means learn the parameter and transform means apply it on data

In [26]:
np.round(x_train.describe(),1)

        age  gender  fever  cough  city
count  80.0    80.0   80.0   80.0  80.0
mean   42.9     0.4  101.0    0.4   1.3
std    24.5     0.5    1.9    0.5   1.1
min     5.0     0.0   98.0    0.0   0.0
25%    20.0     0.0  100.0    0.0   0.0
50%    42.0     0.0  101.0    0.0   1.0
75%    65.0     1.0  102.0    1.0   2.0
max    84.0     1.0  104.0    1.0   3.0

In [27]:
from sklearn.preprocessing import MinMaxScaler

In [28]:
mn=MinMaxScaler()

In [29]:
x_train_mn=mn.fit_transform(x_train)

In [30]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [31]:
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean    0.48    0.41   0.50   0.40   0.42
std     0.31    0.50   0.32   0.49   0.35
min     0.00    0.00   0.00   0.00   0.00
25%     0.19    0.00   0.33   0.00   0.00
50%     0.47    0.00   0.50   0.00   0.33
75%     0.76    1.00   0.67   1.00   0.67
max     1.00    1.00   1.00   1.00   1.00

Day - 3

In [32]:
#Encoding ----> transform categoricsl data into numerical data

#(1).Label Encoding ----> apply on single column and here we cannot decide
# for which sub-category what will be the number

#(2). Ordinal Encoding ----> apply on multiple columns.and here decide sub-category value.
#(3). OneHot Encoding -----> it will create new columns based on the sub-category
#(4). get_dummies ----> it will create new columns based on the sub-category

In [33]:
import numpy as np
import pandas as pd

In [34]:
df=pd.read_csv('C:\\Users\\asd\\Downloads\\covid_toy.csv')

In [35]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [36]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [37]:
df=df.dropna()
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [38]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [39]:
from sklearn.preprocessing import LabelEncoder

In [40]:
lb=LabelEncoder()

In [41]:
df['gender']=lb.fit_transform(df['gender'])

In [42]:
df.head(2)

   age  gender  fever cough     city has_covid
0   60       1  103.0  Mild  Kolkata        No
1   27       1  100.0  Mild    Delhi       Yes

In [43]:
df['cough']=lb.fit_transform(df['cough'])
df['city']=lb.fit_transform(df['city'])
df['has_covid']=lb.fit_transform(df['has_covid'])

In [44]:
df.sample(5)

    age  gender  fever  cough  city  has_covid
37   55       1  100.0      0     2          0
87   47       1  101.0      1     0          0
39   50       0  103.0      0     2          0
32   34       0  101.0      1     1          1
6    14       1  101.0      1     0          0

OrdinalEncoding

In [45]:
df=pd.read_csv("C:\\Users\\asd\\Downloads\\covid_toy.csv")

In [46]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [47]:
df['city'].value_counts()

Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: city, dtype: int64

In [48]:
df=df.drop(columns=['age','fever'])
df.head(3)

  gender cough     city has_covid
0   Male  Mild  Kolkata        No
1   Male  Mild    Delhi       Yes
2   Male  Mild    Delhi        No

In [49]:
from sklearn.preprocessing import OrdinalEncoder

In [50]:
oe=OrdinalEncoder(categories=[['Male','Female'],
                              ['Mild','Strong'],
                              ['Mumbai','Delhi','Kolkata','Bangalore'],
                              ['No','Yes']])

In [51]:
oe.fit_transform(df)

array([[0., 0., 2., 0.],
       [0., 0., 1., 1.],
       [0., 0., 1., 0.],
       [1., 0., 2., 0.],
       [1., 0., 0., 0.],
       [1., 0., 3., 1.],
       [0., 1., 3., 0.],
       [1., 1., 0., 1.],
       [1., 1., 3., 0.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 1.],
       [1., 1., 2., 0.],
       [0., 0., 3., 1.],
       [0., 0., 3., 0.],
       [0., 1., 2., 1.],
       [1., 0., 2., 1.],
       [1., 1., 1., 0.],
       [1., 0., 3., 1.],
       [1., 1., 3., 1.],
       [0., 1., 3., 0.],
       [0., 0., 3., 1.],
       [1., 1., 2., 1.],
       [1., 0., 1., 1.],
       [1., 1., 2., 0.],
       [0., 0., 0., 0.],
       [1., 0., 2., 1.],
       [1., 1., 1., 0.],
       [0., 0., 2., 0.],
       [1., 1., 0., 1.],
       [0., 0., 1., 1.],
       [0., 0., 2., 0.],
       [1., 1., 1., 1.],
       [1., 0., 2., 0.],
       [0., 0., 0., 1.],
       [1., 1., 3., 0.],
       [1., 0., 3., 0.],
       [0., 0., 2., 0.],
       [1., 0., 1., 1.],
       [1., 0., 2., 0.],
       [1., 0., 1., 0.],
       [0., 0., 2., 1.],
       [0., 0., 1., 1.],
       [1., 0., 3., 1.],
       [0., 1., 1., 0.],
       [0., 0., 3., 0.],
       [1., 0., 0., 0.],
       [1., 0., 3., 0.],
       [0., 1., 3., 0.],
       [0., 0., 0., 0.],
       [0., 0., 1., 1.],
       [1., 1., 2., 1.],
       [1., 1., 3., 1.],
       [0., 0., 1., 1.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [0., 1., 2., 0.],
       [1., 1., 3., 0.],
       [0., 1., 0., 1.],
       [1., 0., 2., 1.],
       [1., 1., 3., 1.],
       [1., 1., 0., 0.],
       [1., 1., 3., 1.],
       [0., 0., 3., 0.],
       [0., 0., 0., 0.],
       [1., 0., 3., 0.],
       [0., 0., 2., 0.],
       [0., 0., 3., 0.],
       [1., 1., 2., 0.],
       [1., 0., 1., 0.],
       [1., 1., 1., 0.],
       [1., 1., 1., 0.],
       [1., 0., 2., 0.],
       [0., 1., 2., 1.],
       [1., 1., 1., 0.],
       [0., 0., 2., 1.],
       [0., 0., 3., 1.],
       [1., 0., 2., 0.],
       [0., 0., 3., 1.],
       [1., 0., 2., 1.],
       [1., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 2., 1.],
       [1., 0., 2., 0.],
       [1., 1., 0., 0.],
       [1., 0., 3., 1.],
       [0., 0., 3., 1.],
       [0., 1., 3., 0.],
       [1., 0., 2., 0.],
       [0., 1., 3., 0.],
       [1., 1., 1., 0.],
       [0., 0., 1., 1.],
       [1., 1., 2., 0.],
       [0., 0., 2., 1.],
       [0., 1., 2., 1.],
       [1., 0., 3., 0.],
       [1., 1., 2., 1.],
       [1., 0., 3., 0.],
       [1., 1., 0., 0.],
       [1., 1., 2., 1.]])

OneHotEncoding

In [52]:
df=pd.read_csv("C:\\Users\\asd\\Downloads\\covid_toy.csv")

In [53]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [54]:
from sklearn.preprocessing import OneHotEncoder

In [55]:
ohe=OneHotEncoder(drop='first',sparse_output=False,dtype=np.int32)

In [56]:
df_new=ohe.fit_transform(df[['gender','city','has_covid','cough']])

In [57]:
df_new

array([[1, 0, 1, 0, 0, 0],
       [1, 1, 0, 0, 1, 0],
       [1, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 1],
       [0, 0, 0, 1, 1, 1],
       [0, 0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 1, 0],
       [0, 0, 1, 0, 0, 1],
       [1, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 0],
       [1, 0, 1, 0, 1, 1],
       [0, 0, 1, 0, 1, 0],
       [0, 1, 0, 0, 0, 1],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1, 1],
       [1, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 1, 0],
       [0, 0, 1, 0, 1, 1],
       [0, 1, 0, 0, 1, 0],
       [0, 0, 1, 0, 0, 1],
       [1, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 1, 0],
       [0, 1, 0, 0, 0, 1],
       [1, 0, 1, 0, 0, 0],
       [0, 0, 0, 1, 1, 1],
       [1, 1, 0, 0, 1, 0],
       [1, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 1, 1],
       [0, 0, 1, 0, 0, 0],
       [1, 0, 0, 1, 1, 0],
       [0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0],
       [1, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 1, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [1, 0, 1, 0, 1, 0],
       [1, 1, 0, 0, 1, 0],
       [0, 0, 0, 0, 1, 0],
       [1, 1, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 1],
       [1, 0, 0, 1, 0, 0],
       [1, 1, 0, 0, 1, 0],
       [0, 0, 1, 0, 1, 1],
       [0, 0, 0, 0, 1, 1],
       [1, 1, 0, 0, 1, 0],
       [0, 0, 0, 1, 1, 0],
       [0, 0, 0, 1, 1, 0],
       [1, 0, 1, 0, 0, 1],
       [0, 0, 0, 0, 0, 1],
       [1, 0, 0, 1, 1, 1],
       [0, 0, 1, 0, 1, 0],
       [0, 0, 0, 0, 1, 1],
       [0, 0, 0, 1, 0, 1],
       [0, 0, 0, 0, 1, 1],
       [1, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 1],
       [0, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 1],
       [0, 0, 1, 0, 0, 0],
       [1, 0, 1, 0, 1, 1],
       [0, 1, 0, 0, 0, 1],
       [1, 0, 1, 0, 1, 0],
       [1, 0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0, 0],
       [1, 0, 0, 0, 1, 0],
       [0, 0, 1, 0, 1, 0],
       [0, 0, 0, 1, 1, 0],
       [1, 1, 0, 0, 0, 0],
       [1, 0, 1, 0, 1, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 1],
       [0, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 1],
       [1, 1, 0, 0, 1, 0],
       [0, 0, 1, 0, 0, 1],
       [1, 0, 1, 0, 1, 0],
       [1, 0, 1, 0, 1, 1],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 1, 1],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 1],
       [0, 0, 1, 0, 1, 1]])

## get_dummies

In [58]:
a=pd.get_dummies(df,columns=['gender','city','has_covid','cough'],drop_first=True)

In [59]:
a=a.dropna()
a.head()

,age,fever,gender_Male,city_Delhi,city_Kolkata,city_Mumbai,has_covid_Yes,cough_Strong
0,60,103.0,1,0,1,0,0,0
1,27,100.0,1,1,0,0,1,0
2,42,101.0,1,1,0,0,0,0
3,31,98.0,0,0,1,0,0,0
4,65,101.0,0,0,0,1,0,0

In [60]:
a=a.astype(int)
a

,age,fever,gender_Male,city_Delhi,city_Kolkata,city_Mumbai,has_covid_Yes,cough_Strong
0,60,103,1,0,1,0,0,0
1,27,100,1,1,0,0,1,0
2,42,101,1,1,0,0,0,0
3,31,98,0,0,1,0,0,0
4,65,101,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...
95,12,104,0,0,0,0,0,0
96,51,101,0,0,1,0,1,1
97,20,101,0,0,0,0,0,0
98,5,98,0,0,0,1,0,1
99,10,98,0,0,1,0,1,1

In [61]:
x=df.drop(columns=['has_covid'])  ## input data
y=df['has_covid']  ## target data

In [62]:
from sklearn.model_selection import train_test_split

In [63]:
x_train , x_test , y_train , y_test= train_test_split(x,y,test_size=0.2, random_state=42)

In [64]:
print("total df:",df.shape)
print("---------------")
print("Input data shape(x):",x.shape)
print("x_train data shape:",x_train.shape)
print("x_test data shape:",x_test.shape)
print("---------------")
print("Target data shape(y):",y.shape)
print("y_train data shape:",y_train.shape)
print("y_test data shape:",y_test.shape)

total df: (100, 6)
---------------
Input data shape(x): (100, 5)
x_train data shape: (80, 5)
x_test data shape: (20, 5)
---------------
Target data shape(y): (100,)
y_train data shape: (80,)
y_test data shape: (20,)

In [65]:
df=pd.read_csv("C:\\Users\\asd\\Downloads\\covid_toy.csv")

In [66]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
from sklearn.model_selection import train_test_split
x= df.drop(columns=['has_covid'])
y=df['has_covid']
x_train , x_test , y_train , y_test= train_test_split(x,y,test_size=0.2, random_state=42)

In [67]:
np.round(x_train.describe(),1)

        age  fever
count  80.0   71.0
mean   42.9  101.0
std    24.5    2.0
min     5.0   98.0
25%    20.0   99.5
50%    42.0  101.0
75%    65.0  103.0
max    84.0  104.0