In [1]:
import pandas as pd
import numpy as np

In [3]:
df =pd.read_csv('vgsales.csv')

In [4]:
df.head(3)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82

In [18]:
df.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [19]:
df=df.dropna()

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16291 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16291 non-null  int64
 1   Name          16291 non-null  int32
 2   Platform      16291 non-null  object
 3   Year          16291 non-null  float64
 4   Genre         16291 non-null  object
 5   Publisher     16291 non-null  object
 6   NA_Sales      16291 non-null  float64
 7   EU_Sales      16291 non-null  float64
 8   JP_Sales      16291 non-null  float64
 9   Other_Sales   16291 non-null  float64
 10  Global_Sales  16291 non-null  float64
dtypes: float64(6), int32(1), int64(1), object(3)
memory usage: 1.4+ MB

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
lb= LabelEncoder()

In [22]:
df['Name']= lb.fit_transform(df['Name'])

C:\Users\asd\AppData\Local\Temp\ipykernel_6176\320036569.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Name']= lb.fit_transform(df['Name'])

In [27]:
df['Genre']= lb.fit_transform(df['Genre'])
df['Platform']= lb.fit_transform(df['Platform'])
df['Publisher']= lb.fit_transform(df['Publisher'])

In [ ]:
# a=pd.get_dummies(df,columns=['Name', 'Platform','Genre','Publisher'],drop_first=True)

In [28]:
df.sample(3)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16045,16048,3734,13,2007.0,3,50,0.01,0.0,0.00,0.0,0.01
15776,15779,8194,4,2007.0,3,180,0.00,0.0,0.02,0.0,0.02
13895,13897,7554,19,2007.0,11,430,0.04,0.0,0.00,0.0,0.04

In [9]:
from sklearn.model_selection import train_test_split

In [29]:
x= df.drop(columns=('Global_Sales'))
y= df['Global_Sales']

In [30]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=41)

##

In [32]:
print('shape of df',df.shape)
print('x_shape',x.shape)
print('y_shape',y.shape)

print('x_train_shape',x_train.shape)
print('x_test_shape',x_test.shape)
print('y_train_shape',y_train.shape)
print('y_test_shape',y_test.shape)

shape of df (16291, 11)
x_shape (16291, 10)
y_shape (16291,)
x_train_shape (13032, 10)
x_test_shape (3259, 10)
y_train_shape (13032,)
y_test_shape (3259,)

In [34]:
from sklearn.preprocessing import StandardScaler

In [35]:
sc = StandardScaler()

In [36]:
x_train_sc= sc.fit_transform(x_train)

In [38]:
np.round(x_train.describe(),1)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
count,13032.0,13032.0,13032.0,13032.0,13032.0,13032.0,13032.0,13032.0,13032.0,13032.0
mean,8276.0,5695.6,15.8,2006.4,4.9,293.3,0.3,0.1,0.1,0.0
std,4802.9,3275.3,8.4,5.8,3.8,176.1,0.9,0.5,0.3,0.2
min,1.0,0.0,0.0,1980.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,4108.8,2856.0,7.0,2003.0,1.0,138.0,0.0,0.0,0.0,0.0
50%,8256.5,5751.5,16.0,2007.0,5.0,323.0,0.1,0.0,0.0,0.0
75%,12465.5,8537.2,21.0,2010.0,8.0,455.0,0.2,0.1,0.0,0.0
max,16598.0,11324.0,30.0,2020.0,11.0,575.0,41.5,29.0,10.2,10.6

In [39]:
from sklearn.preprocessing import MinMaxScaler

In [40]:
mn = MinMaxScaler()

In [41]:
x_train_mn = mn.fit_transform(x_train_sc)

In [42]:
df_new= pd.DataFrame(x_train_mn, columns=x_train.columns)

In [43]:
np.round(df_new.describe(),1)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
count,13032.0,13032.0,13032.0,13032.0,13032.0,13032.0,13032.0,13032.0,13032.0,13032.0
mean,0.5,0.5,0.5,0.7,0.4,0.5,0.0,0.0,0.0,0.0
std,0.3,0.3,0.3,0.1,0.3,0.3,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.2,0.3,0.2,0.6,0.1,0.2,0.0,0.0,0.0,0.0
50%,0.5,0.5,0.5,0.7,0.5,0.6,0.0,0.0,0.0,0.0
75%,0.8,0.8,0.7,0.8,0.7,0.8,0.0,0.0,0.0,0.0
max,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [44]:
df =pd.read_csv('vgsales.csv')

In [63]:
df.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [46]:
from sklearn.model_selection import train_test_split

In [56]:
x_train , x_test , y_train , y_test= train_test_split(df.drop(
columns =['Global_Sales']),df['Global_Sales'],test_size= 0.2)

In [57]:
from sklearn.impute import SimpleImputer

In [51]:
from sklearn.preprocessing import OneHotEncoder

In [61]:

from sklearn.compose import ColumnTransformer
transformer= ColumnTransformer (transformers=[
('tnf1', SimpleImputer(),['Year','Publisher'] ),
    ('tnf2', OneHotEncoder(sparse_output=False, drop='first'), ['Name', 'Platform','Genre','Publisher',]) ],
                                remainder='passthrough')

In [65]:

from sklearn.compose import ColumnTransformer
transformer= ColumnTransformer (transformers=[
('tnf1', SimpleImputer(),['Year',] ),
    ('tnf2', LabelEncoder(), ['Name', 'Platform','Genre','Publisher']) ],
                                remainder='passthrough')

In [ ]:
tras

In [76]:
a='regex'
b= int(len(a)/2)
c=0
for i in range(len(a)):
    if a[:b] == a[b:] :
        c=1
        
        
if c==1:
    print("yes")
    
else:
    print("no")

no