In [1]:

# Encoding ----> Transform categorical data into Numerical data.
# (1). Label Encoding -->apply on single column and here we cannot decide for
# which sub-category what will be the number.
# (2). Ordinal Encoding> apply on multiple columns. and here decide sub-category value. # (3). OneHot Encoding ----> it will create new columns based on the sub-categories .
# (4). get_dummies ----> It will create new columns based on the sub-categories .

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('C:\\Users\\asd\\Downloads\\covid_toy.csv')

In [4]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [5]:
  df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [10]:
df=df.dropna()

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
lb = LabelEncoder()

In [14]:
df['gender'] = lb.fit_transform(df['gender'])

C:\Users\asd\AppData\Local\Temp\ipykernel_14764\433294948.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gender'] = lb.fit_transform(df['gender'])

In [15]:
df.head(3)

   age  gender  fever cough     city has_covid
0   60       1  103.0  Mild  Kolkata        No
1   27       1  100.0  Mild    Delhi       Yes
2   42       1  101.0  Mild    Delhi        No

In [16]:
df['cough']= lb.fit_transform(df['cough'])
df['city']= lb.fit_transform(df['city'])
df['has_covid']= lb.fit_transform(df['has_covid'])

C:\Users\asd\AppData\Local\Temp\ipykernel_14764\2363738762.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cough']= lb.fit_transform(df['cough'])
C:\Users\asd\AppData\Local\Temp\ipykernel_14764\2363738762.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['city']= lb.fit_transform(df['city'])
C:\Users\asd\AppData\Local\Temp\ipykernel_14764\2363738762.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['has_covid']= lb.fit_transform(df['has_covid'])

In [18]:
df['city'].value_counts()

2    29
0    28
1    20
3    13
Name: city, dtype: int64

In [17]:
from sklearn.preprocessing import OrdinalEncoder

In [19]:
oe=OrdinalEncoder(categories=[['Male','Female'],
                              ['Mild','Strong'],
                              ['Mumbai','Delhi','Kolkata','Bangalore'],
                              ['No','Yes']])

In [22]:
df=pd.read_csv('C:\\Users\\asd\\Downloads\\covid_toy.csv')

In [23]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [20]:
from sklearn.preprocessing import OneHotEncoder

In [21]:
ohe = OneHotEncoder(drop='first', sparse_output= False, dtype=np.int32)

In [24]:
df_new = ohe.fit_transform(df[['gender','cough','city','has_covid']])

In [ ]:
a=pd.get_dummies(df,columns=['gender','cough','city','has_covid'])